$promary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-bg: url("/dist/images/marek-piwnicki-osbZjT_28gk-unsplash.jpg");
$bg-opacity: 0.5;

@mixin ease-out {
  transition: all 0.5s ease-in-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-bg;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;

      &:after {
        content: "";
        background: rgba($promary-color, $bg-opacity);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        // opacity: $bg-opacity;
      }
    }
  }
}

// Responsive Mixin
@mixin responsive($x) {
  @media screen and(max-width:$x) {
    @content;
  }
}
